body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    background-color: rgb(203, 198, 214);
    font-family: work sans;
}

header{
    background: radial-gradient(black, rgb(7, 0, 52));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    box-shadow: 0 0 50px 10px rgb(48, 0, 89);
    margin-bottom: 50px;
    
    .titolo{
        padding: 0;
        margin-top: 50px;
        width: 75%;
    }

    h2{
        color: white;
        width: 50%;
        text-align: center;
        font-size: 25px;
    }

    .crediti{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        p{
            color: white;
        }
    
        img{
            height: 50px;
            margin: 10px;
        }
    }
}

.sotto-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    section{
        background: radial-gradient(at top, rgb(0, 94, 255), rgb(0, 255, 0));
        border-radius: 20px;
        box-shadow: 0 0 20px 3px rgb(6, 0, 15);
        margin: 30px;
        
        h2{
            padding: 0;
            margin: 6px 20px;
            text-align: center;
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 15px black ;
        }

        .box-cards{
            background-color: rgb(126, 126, 126);
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: radial-gradient(at bottom center, black, rgb(42, 0, 76));
                width: 200px;
                height: 200px;
                margin: 20px;
                border-radius: 15px;
        
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                }
        
                h3{
                    font-style: italic;
                    font-weight: 400;
                    padding: 0;
                    margin: 8px;
                    color: white;
                }
            }
        }
    }
}

a{
    height: 100%;
}

@media screen and (max-width: 700px) {
    .sottotitolo{
        font-size: 20px;
    }
    .crediti{
        scale: 0.8;
    }
}

@media screen and (max-width: 600px) {
    .sottotitolo{
        font-size: 15px;
    }
    .crediti{
        scale: 0.6;
    }
}